.contact {
    min-height: 85vh;
    display: flex;
    align-items: center;
    color: var(--thirdColor);  
    justify-content: center;
}

.contact-field {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0;
}

label, button {
    margin-bottom: 20px;
}

input {
    height: 40px;
}

input:focus,
textarea:focus {
    outline: 4px solid var(--fourthColor);
    transition: 0.3s;
}

input, textarea {
    display: block;
    width: 50%;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    font-size: 1rem;
}

textarea {
    padding: 10px;
}

.label {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.btn-box button:hover {
    cursor: pointer;
}

.links {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.links a {
    display: inline-flex;
    height: 40px;
    background: transparent;
    text-decoration: none;
}

.link-item {
    overflow: hidden; 
    margin: 5px; 
}

.link-item,
.fa-brands,
.fa-envelope {
    color: var(--thirdColor);
    font-size: 50px;
    transition: .3s;
}

.fa-brands:hover,
.fa-envelope:hover {
    transform: translateY(-5px); 
}

/*

changement de couleurs des icones et changement des icones à voir plus tard pour donner un meilleur effet

.fa-linkedin:hover {
    color: #0B66C2;
    background-color: var(--thirdColor);
    overflow: hidden;
}

.fa-github:hover {
    color: #000;
    background-color: var(--thirdColor);
}

.fa-solid {
    display: none;
}

.fa-solid :hover {
    visibility: visible;
}

.fa-regular :hover {
    display: none;
}
*/