/* Large devices (computers, less/equal than 1024px) */

@media (min-width: 1024px) and (max-width: 1200px) {

/*************** GENERAL **************/

  .main,
  .footer {
    display: block;
  }

  p {
    font-size: 18px;
  }

/*************** NAVBAR **************/
    
  .nav-bar a {
      font-size: 16px;
  }

/*************** HOME **************/
    


/*************** PROJECTS **************/

  .projects .project-container {
    gap: 30px; 
    justify-content: space-evenly;
  }

/*************** ABOUT ME **************/



/*************** CONTACT **************/

  .contact {
    margin-inline: -2rem ;
  }

}

  .label,
  .input,
  .textarea {
    font-size: 18px;
  }