/*************     GENERAL     ***********/

:root {
    --firstColor : #00111C;
    --secondColor: #011f36;
    --thirdColor: #FDFFFC;
    --fourthColor: #00cef2;
    --background: #000A14;
    border-radius: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--thirdColor);
}

main, footer {
    margin-inline: 14rem;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 25px 14rem;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--firstColor);
    z-index: 1000;
}

.logo {
    font-size: 25px;
    text-decoration: none;
    color: var(--thirdColor);
    font-weight: 600;
}

.nav-bar a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    color: var(--thirdColor);
    transition: 0.5s;
}

.nav-bar a:hover, li:hover {
    color: var(--fourthColor);
}

.nav-bar li a .active {
    color: var(--fourthColor);
}

ul {
    list-style: none;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

section {
    min-height: 100vh;      /* can display on the full screen */
    display: flex;
    align-items: center;
    color: var(--thirdColor);
}

.home-content, 
.project-container, 
.about-me-content, 
.contact-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
}    

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1rem;
    margin: 20px 0 30px
}

.home-content .btn-box {
    width: 280px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    border: 1px solid var(--thirdColor); 
    background-color: var(--firstColor);
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--thirdColor);
    transition: 0.3s;
}

.btn-box a:hover {
    color: var(--fourthColor);
    background-color: var(--secondColor);
    border: 1px solid var(--fourthColor); 
}

.about-me {
    display: flex;
    align-items: center;
    z-index: 0;
    color: var(--thirdColor);
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    color: var(--thirdColor);
}

.projects h2 {
    text-align: center;
}

.project-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.project-content {
    flex-basis: 33%;
    transition: 0.3s;
    border-radius: 1rem;
}

img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

.project-link {
    text-decoration: none;
    color: var(--thirdColor);
    font-size: 1.5rem;
}

.container {
    position: relative;
    width: 100%;
    transition: 0.3s;
    border-radius: 1rem;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--firstColor);
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 20px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
}
  
/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
    opacity: .9;
}

span {
    color: var(--fourthColor);
}

.project-title {
    text-align: center;
}

.tasks-project {
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    z-index: 0;
    background: linear-gradient(0deg, rgba(8,27,41,1) 50%, rgba(1,31,54,0.6433167016806722) 100%);    
    color: var(--thirdColor);
}

.links {
    width: 170px;
    display: flex;
    justify-content: space-around;
}

.links a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
}