@import url("./Navbar.css");
@import url("./Home.css");
@import url("./Projects.css");
@import url("./AboutMe.css");
@import url("./Contact.css");
@import url("./LargeScreen.css");
@import url("./MediumScreen.css");
@import url("./SmallScreen.css");

/*************     GENERAL     ***********/

:root {
  --firstColor: #00111c;
  --secondColor: #011f36;
  --thirdColor: #fdfffc;
  --fourthColor: #00cef2;
  --background: #000a14;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

body {
  color: var(--thirdColor);
  background: linear-gradient(90deg, rgba(0, 10, 20, 1) 50%, rgba(0, 21, 35, 1) 80%)
}

main,
footer {
  margin-inline: 12rem;
  background: linear-gradient(90deg, rgba(0, 10, 20, 1) 50%, rgba(0, 16, 28, 1) 75%, rgba(0, 21, 35, 1) 100%);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 12rem;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--secondColor);
  z-index: 1000;
}

ul {
  list-style: none;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

p {
  font-size: 1rem;
  margin-bottom: 40px;
  text-align: center;
}

h2, p {
  text-wrap: balance; /* balance the number of character on each line of text*/
  line-height: 1.5; /* vertical space between lines of the text*/
}

section {
  min-height: 100vh; /* can display on the full screen */
  display: flex;
  align-items: center;
  color: var(--thirdColor);
  margin-bottom: 20px;
}

hr {
  width: 65%;
  margin-bottom: 20px;
  border: 1px solid var(--thirdColor);
  border-radius: 16px;
}

img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

.home-content,
.project-container,
.about-me-content,
.contact-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-field {
  margin-bottom: 0;
}

.btn-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.btn-box,
.cta {
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.btn-box a,
.cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--thirdColor);
  background-color: var(--firstColor);
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--thirdColor);
  transition: 0.3s;
}

.btn-box a:hover,
.cta:hover {
  color: var(--fourthColor);
  background-color: var(--secondColor);
  border: 1px solid var(--fourthColor);
}
